.file-node { width: 180px; height: 28px; padding: 0.5em; border: 1px solid gray; position: absolute !important;
  vertical-align: middle;
  text-align: center;
  line-height: 28px;
}

.ui-dialog { padding: .3em; font-size: 0.8em !important; }
label.file-dialog, input.file-dialog { display:block; }
input.file-dialog-text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset.file-dialog { padding:0; border:0; margin-top:25px; }

@font-face {
  font-family: icons;
  src: url("external/icons.woff");
}

.setup-file {
  position: absolute;
  top: 5px;
  right: 5px;
  font-family: icons;
  cursor: pointer;
  z-index: 101;
}
